body{
    margin: 0px;
}
#continear{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h1{
    font-family: fantasy;
    font-size: 3em;
    border-bottom: 1px solid pink;
    border-right: 1px solid pink;
    width:400px;
    text-align: center;
    margin-top: 10px;
}
img{
    height:400px ;
    width: 400px;
    margin: 10px;
    transition:all 1s;
}
img:hover{
    transform: scale(1.1);
}